.section-partners {
    height: 30vw;
    background: url(../section-partners-img/section-partners-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -1px;

    .section-partners__img {
        width: 15vw;
        height: auto;
        transition: 0.7s;
    }

    .section-partners__img:hover {
        transform: scale(1.5);
    }
}



@media screen and (max-width:550px) {
    .section-partners {
        height: 30vw;

        .section-partners__img {
            width: 15vw;
            height: auto;
        }


    }
}
